{{#with pet}}
    <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{picture}}" alt="pet picture" width="500">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{name}}</p>
        </div>
        <div class="media-content">
          <p class="title is-4">{{price}}</p>
        </div>

      </div>

      <div class="content">
        {{description}}
        <time datetime="2023-1-1">11:09 PM - 1 Jan 2023</time>
      </div>
    </div>
{{/with}}