<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <header class="navbar">
         <section class="title-nav">
            <h1 class="header-title">
               <a href="/pet">
                  Welcome to the Multiverse Pets Store
               </a>
            </h1>
            <p class="header-punchline">Where Imagination Meets Reality</p>
         </section>
         <section class="navigation">
            <a href="/auth/signup" class="navbar-button">Signup</a>
            <a href="/auth/login" class="navbar-button">Login</a>
            <a href="/pet/pet-form" class="navbar-button">Request Pet</a>
            <a href="/auth/login" class="navbar-button">Logout</a>
         </section>
      </header>
      
      
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>